h1{
  font-style: italic;
  font-family: fantasy;
  text-align: center;
  color: navy;
}

h2{
  font-style: normal;
  font-family: fantasy;
  text-align: center;
  font-size: 30px;
  color: darkslateblue; 
}

p{
  font-weight: bold;
  font-family: helvetica;
  color: indigo;
  font-size: 20px;
  text-align: left;
}

img {
  margin: auto;
  width: 30%;
  height: auto;
  display: block;
}

.box {
  border: 2px solid black;
  padding: 10px;
  background-color: darkcyan;
  width: 100%;
  box-sizing: border-box;
}

.float {
  width: 20%;
  float: left;
}